   body{
    background-color: #F8EDE3;
  }

  hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 30%;
  }

  h1{
    color: #937DC2;
  }

  h3{
    color: #C689C6;
  }
